{% extends "accounts.html" %}
{% block create %}
    <div class="container col-lg-4 offset-4 mt-3">
    <form action="" method="POST">{% csrf_token %}
        <div class="form-group">
            <label class="mr-sm-2" for="inlineFormCustomSelect">Currency</label>
            <select class="custom-select mr-sm-2" name="currency">
                <option selected>Choose...</option>
                <option value="RUR">RUR</option>
                <option value="USD">USD</option>
                <option value="EUR">EUR</option>
            </select>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Balance</label>
            <input type="number" class="form-control" name="balance" placeholder="Balance">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <button type="submit" class="btn btn-success">Create</button>
                </div>
                <div class="col-sm offset-5">
                    <a href="/accounts" class="btn btn-danger"> Cancel </a>
                </div>
            </div>
        </div>
    </form>
    </div>
{% endblock %}